<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>//Ad Unit Id</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>//Ad Unit Id Interstitial</string>
	<key>CLIENT_ID</key>
	<string>//Client Id</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>//Reversed Client Id</string>
	<key>API_KEY</key>
	<string>//Api Key</string>
	<key>GCM_SENDER_ID</key>
	<string>//GCM sender Id</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cabot.DotSpaceConqueror</string>
	<key>PROJECT_ID</key>
	<string>dot-space-conqueror</string>
	<key>STORAGE_BUCKET</key>
	<string>dot-space-conqueror.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>//Google App Id</string>
	<key>DATABASE_URL</key>
	<string>https://dot-space-conqueror.firebaseio.com</string>
</dict>
</plist>
